.button_box {
  .btn {
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .learnMoreBtn {
    margin-right: 2rem;
    color: $navi-blue-light;
  }

  .getStartedBtn {
    color: white;
    background-color: $navi-blue-light;
  }
}
