nav {
  .nav_elements {
    display: flex;
    font-size: 1.8rem;
    color: white;
    padding: 6rem 12rem;
    // background-color: black;
    justify-content: space-between;
    .logo {
    }
    .sub_nav {
      display: flex;
      &--elements {
        margin-right: 2rem;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
